body{

	background-image:url("../images/laarni.jpg")  ;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;

}
h1{
	color: black;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}
h2 {
	color: black;
	font-size: 25px;
	margin-top: 20;
	opacity:.9;
}
.bio{
	color: black;
	font-size: 14px;
	opacity: .7;

 }

.me {
	height: 250px;
	border-radius: 150%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}
 #container {
 	width: 500px;
 	margin:0 auto;
 	text-align: center;

 }

